# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Memory / embeddings
*.pt
*.bin

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

credentials.json
token.json
